.title{
  color:blue;
  border: 1px solid red;
  padding: 10px;
  display: inline-block;
}




.navigator{
  width: 100%;
  background-color: burlywood;
  padding: 10px;
  
}

.item-nav{
  display: flex;
  list-style: none;
  
}

.item{
  text-decoration: none;
  padding: 10px;
  color: black;
}

.item:hover{
  background-color: black;
  color: white;
  border-radius: 8px;
}