.title{
  color:blue;
  border: 1px solid red;
  padding: 10px;
  display: inline-block;
}




.navigator{
  width: 100%;
  background-color: burlywood;
  padding: 10px;
  font-family: sans-serif;
  
}

.item-nav{
  display: flex;
  list-style: none;
  
}

.item{
  text-decoration: none;
  padding: 10px;
  color: black;
}

.item:hover{
  background-color: red;
  color: white;
  border-radius: 8px;
}

.subtitle{
  display: inline-block;
  border: 1px solid red;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
}